html,
body {
  min-height: 100%;
}

#__next {
  height: 100%;
}

.artifactsIcon {
  width: 12px;
  height: 12px;
}

code {
  font-family: 'Public Sans', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  padding: 0.1rem 0.4rem;
  font-size: 90%;
  color: #d400ff;
  border-radius: 0.1335rem;
}
code:not([class*='language-']):before,
code:not([class*='language-']):after {
  content: '`';
}
code[class*='language-'] {
  padding: 0;
}

.nodeCard {
  min-width: 300px;
  max-width: fit-content;
  position: fixed;
  background-color: #252b30 !important;
  color: #d3d3d3 !important;
  z-index: 1;
  padding: 8px 10px;
  border-radius: 5px;
}

.entityInNode {
  margin-left: 8px;
  cursor: pointer;
}

.entityInNode:hover {
  color: deepskyblue;
}

.hoverItem:hover copyToClipboard {
  opacity: 1;
}

.titleDate {
  margin-left: 8px;
  font-size: 0.857142857rem;
  color: #757575;
}

.tacticTechnic {
  font-size: 0.857142857rem;
}
